APP_ENV=development
LOG_LEVEL=debug
SHUTDOWN_TIMEOUT=10s
DATABASE_URL=postgres://postgres:postgres@localhost:5432/teriyaki_sauce?sslmode=disable
DATABASE_CONNECT_TIMEOUT=15s
DATABASE_MIGRATE_TIMEOUT=3m
